{% extends 'base.html' %}


{% block body %}
    <div class="container">
        <div class="row border mb-4 p-3 meupost" >
            <div class="col col-2">
                <div class="image pe-2">
                <img src="{{url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil))}}" class="rounded" width="200" >
                </div>
                <strong>{{ post.autor.username }}</strong>
                <div class="row justify-content-center">
                    {% if post.autor.cursos %}
                        {% for curso in post.autor.cursos.split(';') %}
                            <button type="button" class="btn btn-info mt-2" disabled><strong>{{ curso }}</strong></button>
                        {% endfor %}
                    {% else %}
                            <button type="button" class="btn btn-info mt-2" disabled><strong>Não Informado</strong></button>
                    {% endif %}
                </div>
            </div>
            <div class="col col-9">
                <h3>{{ post.titulo }}
                <small class="text-muted" style="font-size: 15px"> - Data de criação: {{ post.data_criacao.strftime('%d/%m/%Y') }}
                {% if form %}
                    - <a href="#form_editarpost">Editar Post</a> /
                    <a class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Excluir Post</a>
                {% endif %}
                </small>
                </h3>
                <p>{{ post.corpo }}</p>
            </div>
        </div>
    </div>

{% if form %}
<div class="container">
    <div class="row">
      <div class="col">
        <form method="POST" action="" id="form_editarpost" class="border p-4 mt-2 mb-4">
          {{ form.csrf_token }}
          <legend>Editar Post</legend>
          <fieldset>
            <div class="form-group">
              {{ form.titulo.label(class="form-control-label") }}
              {% if form.titulo.errors %}
                {{ form.titulo(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                {% for erro in form.titulo.errors %}
                  {{ erro }}
                {% endfor %}
              </div>
              {% else %}
                {{ form.titulo(class="form-control") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.corpo.label(class="form-control-label") }}
              {% if form.corpo.errors %}
                {{ form.corpo(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                {% for erro in form.corpo.errors %}
                  {{ erro }}
                {% endfor %}
              </div>
              {% else %}
                {{ form.corpo(class="form-control") }}
              {% endif %}
            </div>
            {{ form.botao_submit_editarpost(class="btn btn-dark mt-2") }}
          </form>
        </div>
      </div>
    </div>
{% endif %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir este post? Essa ação não pode ser desfeita.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST" action="{{ url_for( 'excluir_post', post_id=post.id ) }}">
          <button type="submit" class="btn btn-danger">Excluir Post</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}